{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="top" style="min-height: 100vh; background: linear-gradient(135deg, #1f2933 0%, #020617 100%);">
  <!-- Header -->
  {% include 'includes/header.html' %}
  <!-- Top Section -->
  <section class="uk-section uk-section-default top-section" style="padding-top: 40px; background: none;">
    <div class="uk-container" style="background-color: transparent;">
      <div class="uk-grid uk-grid-large uk-flex-middle" uk-grid style="background-color: transparent;">
        <!-- Image (2/3 width) -->
        <div class="uk-width-1-2@m">
          <img src="{% static 'images/me5.jpg' %}"
          alt="Hero Image"
          class="uk-width-1-1 uk-border-rounded">
        </div>

        <!-- Text (1/3 width) -->
        <div class="uk-width-1-2@m uk-text-center hero">
          <h1 class="uk-heading-large">Hi, I'm Joseph Afonne</h1>
          <p class="uk-text-lead">
            Data, BI Analyst & Django FullStack Developer
          </p>
          <p>
            I specialize in transforming data into actionable insights and building robust web applications to drive business success.
          </p>
          <a class="uk-button uk-button-primary" href="#">
            Contact Me
          </a>
          <a class="uk-button uk-button-secondary" href="#">
            Portfolios
          </a>
        </div>
      </div>
    </div>
  </section>

</div>
<div class="main">  
  <section>
  </section> 
  <section>

  </section>  
  <!-- <div class="temporary">
    {% for image in images %}
      {% with image_url=image.image.url %}
        <img src="{{ image_url }}" alt="Test Model Image">
      {% endwith %}
    {% endfor %}   
    
  </div> -->
</div>
  
<!-- Footer -->
{% include 'includes/footer.html' %}
{% endblock %}
