{% extends 'base.html' %}

{% load static %}

{% block content %}
  <!-- Hero Section -->
  <section class="uk-section uk-section-muted" id="home">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-2@m uk-margin-large-top" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body" style="background-color: transparent;">
              <img src="{% static 'images/me2.jpg' %}" width="100%" height="200" alt="my-photo">
            </div>
        </div>
        <div class="uk-flex uk-flex-middle">
          <div id="author_introduction">
            <h1 class="uk-heading-large uk-text-stroke uk-text-center" id="author_name">I'm Joseph Afonne</h1>
            <p class="uk-text-center">I am a Fullstack Developer and Data Analyst passionate about creating scalable web applications and insightful data-driven solutions.</p>
            <div class="uk-margin">
              <a href="{% url 'about' %}" class="uk-button uk-button-default">About Me</a>
              <a href="{% url 'projects' %}" class="uk-button uk-button-primary">Projects</a>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </section>   
{% endblock %}