
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

/* Top */
 .top_contact_info li a {
  color: #fff;
  font-size: 1.8rem;
  text-transform: none;
 }

 .uk-logo {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  padding: 0 20px;
 }

 .navbar-right li a {
  color: #fff;
  font-size: 2.2rem;
  text-transform: none;
  padding: 0 25px;
  font-weight: 700;
  border-left: 1px solid #fff;
 }

 .navbar-left, .navbar-right {
  display: flex;
  align-items: center;
 }

 .navbar-left {
  border-right: 1px solid #fff;
 }

 @media (max-width: 960px) {
  .top {
    padding-top: 40px;
  }
  .navbar-right li a {
    color: #fff;
    font-size: 2.3rem; 
    font-weight: 700; 
  }
}


.uk-offcanvas-bar {
  background-color: #fff !important;
  
}

.uk-offcanvas-bar button.uk-offcanvas-close {
  color: #000 !important;  
}

.uk-offcanvas-bar button.uk-offcanvas-close svg {
  width: 32px;
  height: 4rem;
}


.uk-offcanvas-bar ul li a {
  color: #000 !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  text-transform: none !important;
  padding: 20px 0 !important;
  border: none !important;
  display: block !important;
  text-align: center !important;
}   

.hero h1 {
  font-size: 4.2rem;
  font-weight: 700;
  color: #fff;
}

.hero p {
  font-size: 1.8rem;
  color: #fff;
  margin-top: 20px;
}

.hero .uk-button-primary, .hero .uk-button-secondary, .hero .uk-button-default {  
  border: none;
  padding: 10px 15px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 25px;
}
.hero .uk-button-default {
  border: 1px solid #fff; 
  color: #fff
}
/* Footer */
footer {
  background: none;
  color: #000;
  padding: 40px 0;
  margin-top: auto;
}

footer h4 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}

footer p {
  font-size: 1.8rem;
  line-height: 1.6;
}

 @media (max-width: 960px) {
  .about-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}